PORT=
MONGODB_URI_PRODUCTION=
# SMTP - GMAIL O SMTP - OUTLOOK/HOTMAIL
HOST_MAILTRAP=
PORT_MAILTRAP=
USER_MAILTRAP=
PASS_MAILTRAP=

URL_BACKEND=
URL_FRONTEND=

# JWT
JWT_SECRET=
# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=